#ending_container {
    width: 100%;
    height: 100%;
    background-color: #292929;
    color: #2dcca7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#ending_image {
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}